/* highlighter.css */
body {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .highlighted {
    background-color: yellow;
    font-weight: bold;
  }
  
  .underline {
    text-decoration: underline;
  }
  